
.App {
  padding-top: 51px;
}

#wrapper {
  max-width: 100%;
}

.listCol {
  padding-right: 0px; 
  padding-left: 0px;
  height: calc(100vh - 51px);
  overflow: scroll;
  color: #007AFF;
}

.navbar {
  background-color: #007AFF;
  height: 51px;
}

.col-8 {
  padding-right: 0px;
  padding-left: 0px;
}

.pageTitle {
  color: #FFFFFF;
}

.radarmarker {
  cursor: pointer;
}